body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-203px;
  width:1164px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:346px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:54px;
  width:548px;
  height:346px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:359px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:542px;
  width:572px;
  height:359px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:293px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:956px;
  width:490px;
  height:293px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:575px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:74px;
  width:557px;
  height:575px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:289px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:1308px;
  width:382px;
  height:289px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:305px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:1308px;
  width:371px;
  height:305px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
