<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Database Configuration-->
    <import resource="classpath:DataSource.xml"/>
    <import resource="classpath:HibernateSessionFactory.xml"/>

    <!--Beans Declaration-->
    <import resource="classpath:spring/TeacherBean.xml"/>
    <import resource="classpath:spring/StudentBean.xml"/>
</beans>